{{#package_section}}
&lt;div class=&quot;section package-section&quot;&gt;
    {{#story_card}}
        {{&gt; organisms-story-card }}
    {{/story_card}}

    {{#story_card_two_up}}
      {{&gt; organisms-story-card-two-up }}
    {{/story_card_two_up}}

  {{&gt; organisms-package-section-inner }}

&lt;/div&gt;
{{/package_section}}