{{&lt; templates-two-col-sw-sidebar }}
    {{$ top }}
        {{{content.top}}}
    {{/ top }}

    {{$ header }}
      {{{content.header}}}
    {{/ header }}
    
    {{$ body }}
      {{{content.body}}}
    {{/ body }}

    {{$ sidebar_content }}
        {{{content.right}}}
    {{/ sidebar_content }}

    {{$ bottom }}
      {{{content.bottom}}}
    {{/ bottom }}
{{/ templates-two-col-sw-sidebar }}
