{{&lt; templates-two-col-content-sw-sidebar-narrow }}
    {{$ top }}
        {{{content.top}}}
    {{/ top }} 

    {{$ main_header }}
      {{{content.main_header}}}
    {{/ main_header}}

    {{$ main_top }}
      {{{content.main_top}}}
    {{/ main_top}}

    {{$ main_left }}
      {{{content.main_left}}}
    {{/ main_left}}

    {{$ main_right }}
      {{{content.main_right}}}
    {{/ main_right}}


    {{$ main_bottom }}
      {{{content.main_bottom}}}
    {{/ main_bottom }}

    {{$ sidebar_content }}
        {{{content.right}}}
    {{/ sidebar_content }}

    {{$ bottom }}
    {{{content.bottom}}}
    {{/ bottom }}

{{/ templates-two-col-content-sw-sidebar-narrow }}
