{{#homepage_how_to}}
  {{#accent_header}}
    {{&gt; molecules-accent-header }}
  {{/accent_header}}

  {{&gt; organisms-featured-story-three-up }}

  {{!&gt; molecules-standard-header }}

  {{&gt; organisms-story-card-three-up }}
{{/homepage_how_to}}