&lt;div class=&quot;recipe-description&quot;
  itemprop=&quot;description&quot;
  data-js-component=&quot;truncateContent&quot;
  data-options='{
  &quot;btnClass&quot;: &quot;truncateContent__btn&quot;,
  &quot;btnText&quot;: &quot;View More&quot;,
  &quot;containerClass&quot; : &quot;truncateContent__container&quot;,
  &quot;maxHeight&quot;: &quot;100&quot;
  }'&gt;
  {{{text}}}

&lt;/div&gt;
