{{&lt; templates-full-width-recipe-print-layout }}
    {{$ hero }}
        {{{content.hero}}}
    {{/ hero }}

    {{$ left }}
        {{{content.left}}}
    {{/ left }}

    {{$ middle-hero }}
        {{{content.middle-hero}}}
    {{/ middle-hero }}

    {{$ middle }}
        {{{content.middle}}}
    {{/ middle }}

    {{$ bottom }}
    {{{content.bottom}}}
    {{/ bottom }}

{{/ templates-full-width-recipe-print-layout }}