&lt;div class=&quot;recipe__body article__body&quot;&gt;
  &lt;div class=&quot;g-wrap&quot;&gt;
    &lt;aside class=&quot;g-span-xs-12 g-span-md-4&quot;&gt;
      {{#sidebar}}
          {{&gt; organisms-recipe-sidebar }}
      {{/sidebar}}
    &lt;/aside&gt;

    &lt;div class=&quot;g-span-xs-12 g-span-md-8&quot;&gt;
        {{#main}}
            {{&gt; organisms-recipe-main-content }}
        {{/main}}
        {{#outbrain_2x3}}
            {{&gt; atoms-outbrain-2x3-placeholder }}
        {{/outbrain_2x3}}
     &lt;/div&gt;
  &lt;/div&gt;

  {{#related_content}}
  {{&gt; organisms-related-content }}
  {{/related_content}}
&lt;/div&gt;
