  &lt;input class=&quot;form-control search-bar__input&quot; type=&quot;text&quot; placeholder=&quot;Search&quot; {{#autocomplete?}} id=&quot;autocomplete&quot; data-js-component=&quot;autocomplete&quot; {{/autocomplete?}}&gt;