{{#package_tag_set}}
&lt;div class=&quot;tag-set package-tag-set&quot;&gt;
  {{#small_accent_header}}
    {{&gt; organisms-small-accent-header }}
  {{/small_accent_header}}

  {{#tags}}
    {{&gt; molecules-tag }}
  {{/tags}}
&lt;/div&gt;
{{/package_tag_set}}