{{&lt; templates-full-width-layout }}

  {{$ main }}
    {{&gt; templates-recipe-print }}
  {{/ main }}

{{/ templates-full-width-layout }}

{{#embed_js?}}
    {{&gt; molecules-ads-js-include}}
{{/embed_js?}}