{{#term_set}}
  &lt;ul class=&quot;term-set&quot;&gt;
    {{#terms}}
      &lt;li class=&quot;term-set__term-item&quot;&gt;{{&gt; molecules-term }}&lt;/li&gt;
    {{/terms}}
  &lt;/ul&gt;
{{/term_set}}