&lt;p&gt;Primary font: &quot;sofia-pro&quot;, &quot;Avenir&quot;, &quot;Verdana&quot;, sans-serif;  font-weight: 300&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: &quot;sofia-pro&quot;, &quot;Avenir&quot;, &quot;Verdana&quot;, sans-serif;  font-weight: 300&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;sofia-pro&quot;, &quot;Avenir&quot;, &quot;Verdana&quot;, sans-serif; font-weight: 500&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;Primary font bold italic: &quot;sofia-pro&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;  font-weight: 500&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;br&gt;&lt;p&gt;Acceptable system and Google alternates: Avenir (Mac), Verdana (Windows), Muli (Google Fonts)
&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;text-display&quot;&gt;Display font: &quot;kepler-std-display&quot;, Georgia, Times, &quot;Times New Roman&quot;, serif;  font-weight: 400&lt;/p&gt;
&lt;p class=&quot;text-display-bold-italic&quot;&gt;&lt;strong&gt;Display font bold: &quot;kepler-std-display&quot;, Georgia, Times, &quot;Times New Roman&quot;, serif;  font-weight: 700&lt;/strong&gt;&lt;/p&gt;
&lt;br&gt;&lt;p&gt;Acceptable system and Google alternates: Georgia (Mac and Windows), Merriweather (Google fonts)