&lt;div class=&quot;package-header accent-header&quot;&gt;
  &lt;h2 class=&quot;package-header__title accent-header__title&quot;&gt;&lt;span class=&quot;package-header__title-text accent-header__title-text&quot;&gt;{{title}}&lt;/span&gt;&lt;/h1&gt;
&lt;/div&gt;