{{#action_bar}}
&lt;div class=&quot;action-bar&quot;&gt;
  &lt;div class=&quot;site-header__wrap site-header__wrap--centered&quot;&gt;
    &lt;div class=&quot;action-bar__section action-bar__social&quot;&gt;
    {{#social_share}}
        {{&gt; molecules-social-share }}
    {{/social_share}}
    &lt;/div&gt;
    &lt;div class=&quot;action-bar__section action-bar__next&quot;&gt;
      &lt;a href=&quot;{{next_url}}&quot; class=&quot;action-bar__link link-with-arrow &quot;&gt;
        Next
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/action_bar}}