{{#gallery_view_toggle}}
&lt;a href=&quot;{{url}}&quot; class=&quot;gallery__view&quot;&gt;

  &lt;svg class=&quot;gallery__view-icon gallery__view-icon--{{icon}}&quot;&gt;
    {{&gt; molecules-svg-use-tag}}
  &lt;/svg&gt;
  &lt;span class=&quot;gallery__view-text&quot;&gt;{{text}}&lt;/span&gt;

&lt;/a&gt;
{{/gallery_view_toggle}}