&lt;div class=&quot;recipe-print__top fcenter frow frow--sb&quot;&gt;
  &lt;a class=&quot;back-link link-with-arrow-back&quot; href=&quot;{{data_src}}&quot;&gt;Back To Recipe&lt;/a&gt;
  &lt;a class=&quot;btn btn--primary&quot; href=&quot;javascript:window.print()&quot;&gt;Print Recipe&lt;/a&gt;
&lt;/div&gt;