&lt;a href=&quot;#&quot; class=&quot;tag-set__item {{#is_active?}}is-active{{/is_active?}}&quot;&gt;
  {{#is_sponsored?}}
  &lt;span class=&quot;tag-set__sponsor-text&quot;&gt;Paid Content&lt;/span&gt;
  {{/is_sponsored?}}
  {{text}}
&lt;/a&gt;