{{#scrolling_desktop_nav}}
&lt;div class=&quot;show-at-md&quot;&gt;
  &lt;div class=&quot;site-header__bar site-header__menu-bar is-fixed is-hidden is-scrolling&quot; id=&quot;scrollNav&quot;
        data-js-component=&quot;scrollingNav&quot;
        data-nav-target=&quot;#scrollNav&quot;
        data-init-width=&quot;1024px&quot;
        data-scroll-target=&quot;.homepage-hero&quot;&gt;

    &lt;div class=&quot;site-header__wrap {{#wide_layout}}site-header__wrap--wide{{/wide_layout}}&quot;&gt;
      &lt;div class=&quot;menu-bar&quot;&gt;

        {{&gt; molecules-menu-bar-menu-icon }}

        {{&gt; molecules-site-logo }}

        {{&gt; molecules-menu-bar-search }}

      &lt;/div&gt;
    &lt;/div&gt;

    {{&gt; organisms-search-bar }}
  &lt;/div&gt;
&lt;/div&gt;
{{/scrolling_desktop_nav}}