{{#video}}
  {{&gt; organisms-article-media-video}}
{{/video}}

{{#hero}}
  {{&gt; organisms-article-media-hero }}
{{/hero}}

{{#media}}
  {{&gt; organisms-article-media-single }}
{{/media}}

{{#three_up_media}}
  {{&gt; organisms-article-media-three-up }}
{{/three_up_media}}
