{{#featured_story_with_list_ad}}
  &lt;div class=&quot;main-content main-content--has-sw-sidebar main-content--sm-padding&quot;&gt;
    {{&gt; organisms-story-card }}
  &lt;/div&gt;
  &lt;aside class=&quot;sidebar sidebar--is-sw&quot;&gt;
    {{#related_videos}}
      {{&gt; organisms-related-videos }}
    {{/related_videos}}

    {{#ad_300x250}}
    {{&gt; atoms-ad-300x250-placeholder }}
    {{/ad_300x250}}
  &lt;/aside&gt;
{{/featured_story_with_list_ad}}