{{#homepage_videos}}
  {{#accent_header}}
  {{&gt; molecules-accent-header }}
  {{/accent_header}}

  {{&gt; organisms-featured-story-with-ad }}

  {{&gt; organisms-story-card-three-up }}
{{/homepage_videos}}