{{#channel_section_inner}}
&lt;div class=&quot;channel-section__inner&quot;&gt;
  {{&gt; organisms-featured-story }}

  {{&gt; organisms-featured-story-with-ad }}

  {{&gt; organisms-story-card-three-up }}

  {{&gt; organisms-story-card-four-up }}

  {{&gt; organisms-responsive-content-slider }}
&lt;/div&gt;
{{/channel_section_inner}}