{{#homepage_sections}}
  &lt;section class=&quot;homepage-section section&quot;&gt;

    {{&gt; organisms-story-card-collage }}

    {{&gt; organisms-homepage-videos }}

    {{&gt; organisms-homepage-how-to }}

    {{&gt; organisms-homepage-seasonal }}

    {{&gt; organisms-homepage-recipe-section }}

    {{&gt; organisms-image-grid }}

    {{&gt; organisms-story-card-four-up }}

  &lt;/section&gt;
{{/homepage_sections}}