&lt;div class=&quot;page-container&quot;&gt;
  {{#breadcrumbs}}
    &lt;div class=&quot;show-at-md&quot;&gt;
      {{&gt; molecules-breadcrumbs }}
    &lt;/div&gt;
  {{/breadcrumbs}}

  {{#package_header}}
    &lt;div class=&quot;package-header&quot;&gt;
      {{#landing_header}}
        {{&gt; organisms-landing-header }}
      {{/landing_header}}
    &lt;/div&gt;
  {{/package_header}}
&lt;/div&gt;
