{{#sidebar_body}}

  {{#ad_300x350}}
    {{&gt; molecules-ads-right-rail-flex }}
  {{/ad_300x350}}

  {{#outbrain}}
    {{&gt; molecules-global-outbrain }}
  {{/outbrain}}

  {{#related_list}}
  	{{&gt; molecules-related-list }}
  {{/related_list}}

{{/sidebar_body}}
