&lt;article class=&quot;article recipe-print&quot; itemscope itemtype=&quot;http://schema.org/Recipe&quot;&gt;
  {{&gt; organisms-recipe-print-header }}

  {{&gt; organisms-recipe-print-body }}
  {{#content}}
      {{{content}}}
  {{/content}}
&lt;/article&gt;