&lt;div class=&quot;article__meta {{#bordered?}} article__meta--with-borders{{/bordered?}}&quot;&gt;
    {{#byline}}
    &lt;div class=&quot;article__meta-byline&quot;&gt;
      {{&gt; molecules-byline }}
    &lt;/div&gt;
    {{/byline}}
    &lt;div class=&quot;article__meta-share show-at-md&quot;&gt;
      {{!&gt; organisms-content-share }}
    &lt;/div&gt;
&lt;/div&gt;
