{{#package_detail_description}}
&lt;div class=&quot;package-description&quot;&gt;
  {{#accent_header}}
    {{&gt; molecules-accent-header}}
  {{/accent_header}}

  {{{description}}}

&lt;/div&gt;
{{/package_detail_description}}