{{#featured_story_with_ad}}
    &lt;div class=&quot;main-content main-content--has-sw-sidebar&quot;&gt;
      {{&gt; organisms-story-card }}
    &lt;/div&gt;
    &lt;aside class=&quot;sidebar sidebar--is-sw&quot;&gt;
      {{#ad_300x600}}
      {{&gt; atoms-ad-300x600-placeholder }}
      {{/ad_300x600}}
    &lt;/aside&gt;
{{/featured_story_with_ad}}