&lt;div class=&quot;ad-wrapper ad-leaderboard ad-bg-lite ad-wrapper--with-padding show-at-sm&quot; &gt;
  &lt;div class=&quot;ad ad-leaderboard&quot; id=&quot;{{#ad_id}}{{ad_id}}{{/ad_id}}{{^ad_id}}ad-728x90_970x250_970x90_101x1_320x50_ATF{{/ad_id}}&quot;&gt;&lt;/div&gt;
    {{&gt; atoms-ads-leaderboard-flex}}
&lt;/div&gt;
