{{&lt; templates-two-col-sw-sidebar }}
    {{$ top }}
        {{{content.top}}}
    {{/ top }}

    {{$ main }}
        {{{content.left}}}
    {{/ main }}

    {{$ sidebar_content }}
        {{{content.right}}}
    {{/ sidebar_content }}

    {{$ bottom }}
    {{{content.bottom}}}
    {{/ bottom }}

{{/ templates-two-col-sw-sidebar }}
