&lt;div class=&quot;subscribe-button-flyout&quot; data-js-component=&quot;subscribeFlyout&quot; data-button-target=&quot;.btn&quot;&gt;
  &lt;span class=&quot;btn btn--xs&quot;&gt;Subscribe&lt;/span&gt;
  &lt;div class=&quot;subscribe-button-flyout__content&quot;&gt;
    &lt;svg class=&quot;subscribe-button-flyout__close&quot;&gt;
      {{&gt; molecules-svg-use-tag }}
    &lt;/svg&gt;
    &lt;div class=&quot;subscribe-button-flyout__content-inner&quot;&gt;
      {{{content}}}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;