{{#menu_bar_menu_icon}}
&lt;div class=&quot;menu-bar__section menu-bar__menu {{#is_solid?}}menu-bar__menu--solid{{/is_solid?}}&quot;
  data-js-component=&quot;sideMenuToggle&quot;
  data-menu-target=&quot;.site-menu&quot;
  data-menu-overlay-class=&quot;site-menu-overlay&quot;
  data-close-trigger=&quot;.site-menu__close, .site-menu-overlay&quot;&gt;

  &lt;svg class=&quot;icon icon-menu&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;32&quot; height=&quot;18&quot; viewBox=&quot;0 0 32 18&quot;&gt;&lt;title&gt;Menu Icon&lt;/title&gt;&lt;path d=&quot;M0 0h32v2H0V0zm0 8h32v2H0V8zm0 8h32v2H0v-2z&quot; fill=&quot;#F26457&quot; fill-rule=&quot;evenodd&quot;/&gt;&lt;/svg&gt;
&lt;/div&gt;
{{/menu_bar_menu_icon}}