{{#recipe_meta_footer}}
  {{^tag_set}}&lt;div class=&quot;show-at-md&quot;&gt;{{/tag_set}}
    &lt;div class=&quot;recipe-meta-footer frow frow--sb fcenter&quot;&gt;
      {{&gt; organisms-recipe-tag-set }}
      {{&gt; organisms-recipe-utility-links }}
    &lt;/div&gt;
  {{^tag_set}}&lt;/div&gt;{{/tag_set}}
{{/recipe_meta_footer}}
