&lt;script&gt;
    tgx_ad_slots.push(function(ads){
        ads.addSlot({
            id: 'ad-header-menu',
            responsive: {
                sm: ['82x18'],
                md: ['82x18']
            },
            params: {
                {{#test}}test: {{test}},{{/test}}
                cmpos: &quot;globalhdrsublnk&quot;,
                cmtyp: &quot;text&quot;
            },
            cm: true,
            priority: 3
        });
    });
&lt;/script&gt;
