&lt;div id=&quot;mr-livefyre-ratings&quot;&gt;&lt;/div&gt;
&lt;script&gt;
    window._mre_js_path = {{#path}}'{{path}}'{{/path}}{{^path}}'/../../assets/js/lib/myrecipes'{{/path}};
&lt;/script&gt;
&lt;script src=&quot;{{#path}}{{path}}{{/path}}{{^path}}/../../assets/js/lib/myrecipes{{/path}}/mr-cozi-app-mobile.js&quot;&gt;&lt;/script&gt;
