&lt;div class=&quot;custom-filter-checkbox&quot;&gt;
  &lt;label class=&quot;custom-filter-checkbox__wrapper&quot;&gt;
    &lt;input class=&quot;custom-filter-checkbox__input&quot; type=&quot;checkbox&quot;&gt;
    &lt;span class=&quot;custom-filter-checkbox__text&quot;&gt;{{text}}&lt;/span&gt;
    &lt;span class=&quot;custom-filter-checkbox__box&quot;&gt;&times;&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;