{{#homepage_seasonal}}
  {{#accent_header}}
    {{&gt; molecules-accent-header }}
  {{/accent_header}}

  {{&gt; organisms-featured-story }}

  {{&gt; organisms-homepage-story-card-grid-3-up }}
{{/homepage_seasonal}}