&lt;div class=&quot;custom-select&quot;&gt;
  &lt;select class=&quot;custom-select__select&quot; name=&quot;select&quot;&gt;
    {{#options}}
      &lt;option value=&quot;{{value}}&quot; {{#is_selected?}}selected{{/is_selected?}}&gt;{{text}}&lt;/option&gt;
    {{/options}}
  &lt;/select&gt;
&lt;/div&gt;
