{{&lt; templates-full-width-layout }}
    {{$ top }}
    {{{content.top}}}
    {{/ top }}

    {{$ main }}
    {{{content.middle}}}
    {{/ main }}

    {{$ bottom }}
    {{{content.bottom}}}
    {{/ bottom }}
{{/ templates-full-width-layout }}
