{{&lt; templates-two-col-content-sw-sidebar-with-header-left-aligned }}

  {{$ header }}
    {{&gt; organisms-site-header }}
  {{/ header }}

  {{$ main_top }}
    {{&gt; organisms-article-header-top }}
  {{/ main_top }}

  {{$ main_content }}
    {{&gt; organisms-article-header-alt }}
    {{&gt; organisms-article-body }}
  {{/ main_content }}

  {{$ sidebar_content }}
    {{&gt; templates-sidebar }}
  {{/ sidebar_content }}

{{/ templates-two-col-content-sw-sidebar-with-header-left-aligned }}
