{{#channel_section}}
&lt;div class=&quot;section channel-section&quot;&gt;
  {{&gt; organisms-channel-section-inner }}

      {{#featured_story}}
            {{&gt; organisms-featured-story }}
      {{/featured_story}}

      {{#featured_story_with_ad}}
        {{&gt; organisms-featured-story-with-ad }}
      {{/featured_story_with_ad}}

      {{#featured_list}}
            {{&gt; organisms-featured-list }}
      {{/featured_list}}

      {{#story_card_three_up}}
            {{&gt; organisms-story-card-three-up }}
      {{/story_card_three_up}}

      {{#story_card_four_up}}
        {{&gt; organisms-story-card-four-up }}
      {{/story_card_four_up}}

  {{&gt; organisms-responsive-content-slider }}
&lt;/div&gt;
{{/channel_section}}