&lt;div class=&quot;recipe-list titled-list&quot;&gt;
  &lt;h3 class=&quot;list__title&quot;&gt;{{title}}&lt;/h3&gt;
  {{#recipe_ingredient_list}}
    {{&gt; organisms-recipe-ingredient-list }}
  {{/recipe_ingredient_list}}
&lt;/div&gt;
