&lt;div class=&quot;content-rating&quot;&gt;
  {{#ratings}}
    {{&gt; molecules-content-rating-star }}
  {{/ratings}}

  &lt;span class=&quot;content-rating__text&quot;&gt;{{ratings_text}}&lt;/span&gt;
&lt;/div&gt;