&lt;article class=&quot;article&quot; itemscope itemtype=&quot;http://schema.org/Recipe&quot;&gt;
  {{&gt; organisms-recipe-header }}

  {{#body}}
    {{&gt; organisms-recipe-body }}
  {{/body}}

  {{#content}}
      {{{content}}}
  {{/content}}
&lt;/article&gt;