{{#video_section_inner}}
&lt;div class=&quot;video-section__inner&quot;&gt;
  {{&gt; organisms-featured-story-with-list-ad }}

  {{&gt; organisms-story-card-four-up }}

  {{&gt; organisms-responsive-content-slider }}
&lt;/div&gt;
{{/video_section_inner}}