{{#listicle}}
&lt;div class=&quot;listicle&quot;&gt;
  &lt;ol class=&quot;custom-list custom-list--listicle listicle__list &quot;&gt;
    {{#items}}
      {{&gt; organisms-listicle-item }}
    {{/items}}
  &lt;/ol&gt;
&lt;/div&gt;
{{/listicle}}