&lt;div class=&quot;ad-outbrain&quot;&gt;
  &lt;div class=&quot;g-wrap&quot;&gt;
      &lt;div class=&quot;outbrain_widget_sidebar&quot; hidden-src=&quot;{{outbrain_url}}&quot; hidden-widget-id=&quot;AR_11&quot; hidden-ob-template=&quot;cookinglight&quot; &gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
