{{#recipe_related_videos}}
&lt;div id=&quot;videoBelt&quot;&gt;
&lt;ul&gt;
  {{#items}}
  &lt;li&gt;
  &lt;div class=&quot;tout_related_videos&quot;&gt;
    &lt;a href=&quot;{{url}}&quot; class=&quot;tout_thumb_image_link&quot;&gt;
      &lt;div class=&quot;related-videos__media-wrap media-object__media-wrap&quot;&gt;
       &lt;span class=&quot;tout_thumb_image_link&quot;&gt;&lt;/span&gt;
        &lt;img class=&quot;media-object__media&quot; src=&quot;{{media_src}}&quot; alt=&quot;{{media_alt}}&quot;&gt;
      &lt;/div&gt;
    &lt;/a&gt;
      &lt;div class=&quot;related-videos__item-body&quot;&gt;
      &lt;h3 class=&quot;related-videos__title&quot;&gt;{{title}}&lt;/h3&gt;
      &lt;a href=&quot;&quot;&gt;
      &lt;div class=&quot;tout-headline&quot;&gt;
        &lt;div class=&quot;field-tout-headline&quot;&gt;
         &lt;p&gt;{{{text}}}&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;/a&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/li&gt;
  {{/items}}
    &lt;/ul&gt;
&lt;/div&gt;
{{/recipe_related_videos}}
