&lt;article class=&quot;article&quot;&gt;
    {{&gt; organisms-article-header-alt }}

    {{&gt; organisms-listicle-body }}

    {{#content}}
        {{{content}}}
    {{/content}}
    {{&gt; atoms-outbrain-footer }}
&lt;/article&gt;